#black {
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#burlywood {
  background-color: burlywood;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#teal {
  background-color: teal;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#goldenrod {
  background-color: goldenrod;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.pixel-board {
  display: table;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.pixel-lines {
 display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  border: solid 1px black;
  height: 40px;
  width: 40px;
}

#clear-board {
  margin-top: 15px;
  height: 30px;
  width: 90px;
}
